<h2>List of Items</h2>

<div>
  <h3>  Books : </h3>
  <!-- <div *ngIf="bookArr"> -->
    <ul>
      <li *ngFor = "let i of bookArr">
        <div>
          <p>Name: </p> <p>{{i.getName()}}</p>
          <p>ISBN Number: </p> <p>{{i.getISBN()}}</p>
          <p>Is available: </p> <p *ngIf="i.getIsBurrowed() == true">Yes</p> <p *ngIf="i.getIsBurrowed() == undefined">No</p>
          <p *ngIf="i.getIsBurrowed() == true">Burrower: {{i.getBurrower()}}</p>
        </div>
      </li>
    </ul>
  <!-- </div> -->
  <h3> DVDs: </h3>
  <div *ngIf="dvdArr">
    <ul *ngFor = "let i of dvdArr">
      <li *ngIf = "isNull(i) == false">
        <div>
          <p>Name: </p> <p>{{i.getName()}}</p>
          <p>ISBN Number: </p>{{i.getISBN()}}<p></p>
        </div>
      </li>
    </ul>
  </div>
</div>
