
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/intro">Library Management System</a>
    </div>
    <ul class="nav navbar-nav">
      <li> <a class="navlink" routerLink="/add-item">Add Item</a> </li>
      <li> <a class="navlink" routerLink="/burrow-item">Burrow Item</a> </li>
      <li> <a class="navlink" routerLink="/list-item">List available Items</a> </li>
      <li> <a class="navlink" routerLink="/report">Generate Report </a> </li>
    </ul>
  </div>
</nav>
