
<h2>Burrow Item</h2>

<div>
  <div class="col-xs-4">
    <label for="isbn">ISBN Number: </label>
    <input type="text" maxlength="13" [(ngModel)] = "isbn" class="form-control" name="isbn" id="isbn" placeholder="ISBN Number:">
    <button name="checkAvailability" (click)="isAvailable(isbn)">Check Availability</button>
  </div>
</div>

<div *ngIf = "isAvailable(isbn) == true">

  <div>
    <ul>
      <li><p>ISBN Number: </p> <p>{{item.getISBN()}}</p> </li>
      <li><p>Name of Library Item: </p> <p >{{item.getISBN()}}</p> </li>
      <li><p>Type: </p> <p>{{item.getISBN()}}</p> </li>
      <li><p>Publication Date: </p> <p>{{item.getISBN()}}</p> </li>
    </ul>
  </div>

  <div>
    <label for="burrower">Burrower: </label>
    <input type="text" maxlength="50" [(ngModel)] = "burrower" class="form-control" name="burrower" id="burrower" placeholder="Burrower Name:">
    <button name="burrow" (click)="burrowItem()">Burrow</button>
  </div>

</div>

<div>

</div>
